<template name="upload_jasny">
	<div class="fileupload fileupload-new" data-provides="fileupload">
	   <span class="btn btn-file">
	      <span class="fileupload-new">Select file...</span>
	      <span class="fileupload-exists"></span>
	      <input name="file-upload" class="file-upload-input" method="POST" type="file"/>
	   </span>
	   <span class="fileupload-preview">
	   </span>
	   <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
	</div>
</template>